<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>HackathonCreateController</display-name>
		<servlet-name>HackathonCreateController</servlet-name>
		<servlet-class>aiss.controller.hackathon.HackathonCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HackathonCreateController</servlet-name>
		<url-pattern>/HackathonCreateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleCalendarController</display-name>
		<servlet-name>GoogleCalendarController</servlet-name>
		<servlet-class>aiss.controller.hackathon.GoogleCalendarController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleCalendarController</servlet-name>
		<url-pattern>/GoogleCalendarController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HackathonListViewController</display-name>
		<servlet-name>HackathonListViewController</servlet-name>
		<servlet-class>aiss.controller.hackathon.HackathonListViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HackathonListViewController</servlet-name>
		<url-pattern>/HackathonListViewController</url-pattern>
	</servlet-mapping>
</web-app>