<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>aiss.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>HackathonCreateController</display-name>
		<servlet-name>HackathonCreateController</servlet-name>
		<servlet-class>aiss.controller.hackathon.HackathonCreateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HackathonCreateController</servlet-name>
		<url-pattern>/HackathonCreateController</url-pattern>
	</servlet-mapping>
	<!-- Google Oauth Servlets -->
	<servlet>
		<description></description>
		<display-name>GoogleAuthController</display-name>
		<servlet-name>GoogleAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Google</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleAuthController</servlet-name>
		<url-pattern>/AuthController/Google</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleOAuth2Callback</display-name>
		<servlet-name>GoogleOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Google</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/helloworld</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Google</url-pattern>
	</servlet-mapping>
</web-app>